---
layout: default
---

{% if page.mathjax %}
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

<div class="blog-post-content">
    <div class="post-back"><a href="{{ site.url }}">« home</a></div>
    <div class="post-date">{{ page.date | date: "%d.%m.%Y" }} | {{ page.content | reading_time }}</div>
    <h1 class="post-title">{{ page.title }}</h1>
    {% include anchor_headings.html html=content anchorBody="#" beforeHeading=false h_min=2 h_max=3 anchorClass="post-anchor" %}
</div>

<div class="navigation">
    {% if page.previous %}
    <a class="prev" href="{{ page.previous | relative_url }}">< {{ page.previous.title }}</a>
    {% endif %} {% if page.next %}
    <a class="next" href="{{ page.next | relative_url }}">{{ page.next.title }} ></a>
    {% endif %}
</div>
{% include disqus.html %}
